.index{
	width: 980px;
	height: 721px;
	margin: 0 auto ;
}
.indexa{
	background: url('../images/main.jpg');
	width: 100%;
	height: 645px;
}

.navi{
	background: url('../images/navi.png')no-repeat;
	width: 100%;
	height: 83px;
	margin-left: 220px;
	margin-top: 22px;
	float: left;
}
.navi ul{
	padding-left: 3px;
}
.navi li{
	width: 124px;
	height: 39px;
	float: left;
	margin-left: 5px;
	text-align: center;
	line-height: 39px;
}
.navi a{
	color: #fff;
	font-size: 14px;
}
.indexab{
	width: 493px;
	height: 542px;
	float: left;
}
.indexac{
	width: 446px;
	height: 542px;
	float: left;
}
.notice{
	background: url('../images/notice.png')no-repeat;
	width: 358px;
	/*height: 15px;*/
}
.notice ul{
	padding-top: 17px;
	overflow: hidden;
}
.notice li{
	background: url('../images/dotted.png') left no-repeat;
	padding-left: 10px;
	width: 315px;
	height: 18px;
	float: left;
	margin-top: 7px;
	font-size: 12px;
	margin-left: 5px;
	color: #000;
	line-height: 18px;
}
.notice a{
	/*margin-top: 20px;*/
	float: left;
}
.noticea{
	color: #8C9091;
	float: right;
	font-size: 12px;
	margin-top: 2px;
	font-weight: bold;
	margin-right: 5px;
	height: 18px;
	line-height: 18px;
}
.topic{
	background: url('../images/topic.png')no-repeat;
	width: 359px;
	height: 121px;
	margin-top: 20px;
	padding-left: 45px;
	padding-top: 13px;
}
.phone{
	background: url('../images/phone.png')no-repeat;
	width: 176px;
	height: 107px;
	margin-top: 8px;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	
}
.phone .bm{
	color: #FF6601;
	padding-left: 5px;
	border-bottom : 1px solid #ccc;
	width: 80px;
}
.phone .zxcontent{
	/*margin-top: 12px;*/
}
.phone .zx{
	width: 30px;
	float: left;
	font-size: 12px;
	padding-top: 20px;
}
.phone .time{
	margin-left: 13px;
	float: left;
	font-size: 10px !important;
	margin-top: 22px;
}
.phone .time font{
	color: #245A91;
	font-size: 14px;
}
.rt{
	background: url('../images/rt.png')no-repeat;
	width: 178px;
	height: 104px;
	margin-top: 13px;
	margin-left: 5px;
	float: left;
}
.rt div{
	width: 100px;
	padding: 20px 0 0 20px;
	font-size: 12px;
}
.indexad{
	width: 41px;
	height: 542px;
	float: left;
}

.topictitle a{
	color: #245A91;
	font-size: 14px;
}
.topiccontent{
	width: 183px;
	font-size: 12px;
	margin-top: 5px;
}

.footer{
	width: 976px;
	height: 76px;
	border-bottom: 2px solid #245A91;
	overflow: hidden;
	border-left: 2px solid #245A91;
	border-right: 2px solid #245A91;
}
.footerlogo{
	width: 222px;
	float: left;
	border-right: 1px solid #CCC;
	height: 76px;
}
.footerrigt{
	width: 500px;
	float: left;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 5px;
	color: #888686;
}
.footerrigt p{
	margin:0 0 5px 0;
	font-size: 12px;
}
.footerrigt ul{

	overflow: hidden;
	margin-bottom: 5px;
}
.footerrigt ul li{
	float: left;
	margin-right: 20px;

}
.footerrigt ul li a{
	color: #888686;
}