.index{
	width: 980px;
	height: 721px;
	margin: 0 auto ;
}
.indexa{
	background: url('../images/main.jpg');
	width: 100%;
	height: 645px;
}

.navi{
	background: url('../images/navi.png')no-repeat;
	width: 100%;
	height: 83px;
	margin-left: 220px;
	margin-top: 22px;
	float: left;
}
.navi ul{
	padding-left: 3px;
}
.navi li{
	width: 124px;
	height: 39px;
	float: left;
	margin-left: 5px;
	text-align: center;
	line-height: 39px;
}
.navi a{
	color: #fff;
	font-size: 14px;
}
.indexab{
	width: 493px;
	height: 542px;
	float: left;
}
.indexac{
	width: 446px;
	height: 542px;
	float: left;
}
.notice{
	background: url('../images/notice.png')no-repeat;
	width: 358px;
	/*height: 15px;*/
}
.notice ul{
	padding-top: 17px;
	overflow: hidden;
}
.notice li{
	background: url('../images/dotted.png') left no-repeat;
	padding-left: 10px;
	width: 315px;
	height: 18px;
	float: left;
	margin-top: 7px;
	font-size: 12px;
	margin-left: 5px;
	color: #000;
	line-height: 18px;
}
.notice a{
	/*margin-top: 20px;*/
	float: left;
}
.noticea{
	color: #8C9091;
	float: right;
	font-size: 12px;
	margin-top: 2px;
	font-weight: bold;
	margin-right: 5px;
	height: 18px;
	line-height: 18px;
}
.topic{
	background: url('../images/topic.png')no-repeat;
	width: 359px;
	height: 121px;
	margin-top: 20px;
	padding-left: 45px;
	padding-top: 13px;
}
.phone{
	background: url('../images/phone.png')no-repeat;
	width: 176px;
	height: 107px;
	margin-top: 8px;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	
}
.phone .bm{
	color: #FF6601;
	padding-left: 5px;
	border-bottom : 1px solid #ccc;
	width: 80px;
}
.phone .zxcontent{
	/*margin-top: 12px;*/
}
.phone .zx{
	width: 30px;
	float: left;
	font-size: 12px;
	padding-top: 20px;
}
.phone .time{
	margin-left: 13px;
	float: left;
	font-size: 10px !important;
	margin-top: 22px;
}
.phone .time font{
	color: #245A91;
	font-size: 14px;
}
.rt{
	background: url('../images/rt.png')no-repeat;
	width: 178px;
	height: 104px;
	margin-top: 13px;
	margin-left: 5px;
	float: left;
}
.rt div{
	width: 100px;
	padding: 20px 0 0 20px;
	font-size: 12px;
}
.indexad{
	width: 41px;
	height: 542px;
	float: left;
}

.topictitle a{
	color: #245A91;
	font-size: 14px;
}
.topiccontent{
	width: 183px;
	font-size: 12px;
	margin-top: 5px;
}

.footer{
	width: 976px;
	height: 76px;
	border-bottom: 2px solid #245A91;
	overflow: hidden;
	/*border-left: 2px solid #245A91;*/
	/*border-right: 2px solid #245A91;*/
}
.footerlogo{
	width: 222px;
	float: left;
	border-right: 1px solid #CCC;
	height: 61px;
	margin-top: 15px;
}
.footerrigt{
	width: 500px;
	float: left;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 15px;
	color: #888686;
}
.footerrigt p{
	margin:0 0 5px 0;
	font-size: 12px;
}
.footerrigt ul{

	overflow: hidden;
	margin-bottom: 5px;
}
.footerrigt ul li{
	float: left;
	margin-right: 20px;

}
.footerrigt ul li a{
	color: #888686;
}
.header{
	width: 100%;
	height: 645px;
}
.headera{
	background:  url('../images/header.png')no-repeat;
	width: 100%;
	height: 304px;
}
.index2{
	width: 939px;
	/*height: ?px;*/
}

.kk{
	background: url('../images/kk.png')no-repeat;
	width: 100%;
	min-height: 442px;
	margin-top: -68px;
	padding-top: 15px;

}
.kka{
	width: 210px;
	margin-left: 20px;
	padding-left: 12px;
	float: left;
}
.title{
	background: url('../images/title.png')no-repeat;
	width: 179px;
	height: 45px;
}
.titlec{
	font-size: 18px;
	color: #fff;
	height: 45px;
	width: 100%;
	line-height: 45px;
	text-align: center;
	float: left;
}
.liebiao{
	width: 182px;
	height: 145px;
	/*padding-left: 28px;*/
}
.liebiao ul{
	margin-top: 13px;
	
}
.liebiao ul li{
	border-bottom: 1px dashed #ccc;
	margin-top: 5px;
	padding-bottom: 6px;
}
.liebiao ul li a{
	font-size: 12px;
	color: #668CB3;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 12px;
}
.qq{
	margin-left: 12px;
}
.kkb{
	width: 607px;
	min-height: 542px;
	float: left;
}
.kkbtop{
	margin-top: 7px;
	width: 603px;
	height: 30px;
}
.kkbtopa{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 7px;
	float: left;
}
.kkbtopb{
	font-size: 12px;
	margin-top: 11px;
	margin-right: 80px;
	float: right;
}
.top1{
	border-top: 1px solid #ccc;
}
.contenttitle{
	background: url('../images/contenttitle.png')no-repeat;
	width: 571px;
	height: 119px;
	margin-top: 20px;
}
.contenttitlea{
	margin-left: 20px;
	margin-top: 26px;
	float: left;
}
.textbox{
	line-height: 20px;
	font-size: 13px;
	margin-top: 10px;
	float: left;
}
.toeic{
	background: url('../images/toeic.png')no-repeat;
	width: 608px;
	height: 137px;
	margin-top: 27px;
}
.toeic ul{
	margin-left: 300px;
}
.toeic ul li{
	margin-top: 118px;
	width: 81px;
	margin-left: 5px;
	text-align: center;
	float: left;
}
.toeic a{
	font-size: 15px
}
.tlme{
	width: 605px;
	height: 196px;
}
.tlmea{
	background: #111;
	height: 14px;
}
.tlme table{
	/*border: 1px solid #ccc;*/
	width: 100%;
}
.tlme table tr td {
	width: 30%;
}
.contectbanner{
	background: url('../images/contectbanner.png')no-repeat;
	width: 628px;
	height: 110px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 270px;
}
.contectbannera{
	width: 205px;
	height: 57px;
}
.bottom{
	width: 610px;
	height: 335px;
}
.bottoma{
	background: url('../images/contectleft.png')left no-repeat;
	width: 145px;
	height: 330px;
	margin-left: 8px;
	margin-top: -19px;
	float: left;
}
.bottmaa{
	background: url('../images/dotted.png') left no-repeat;
	padding-left: 10px;
	width: 315px;
	height: 18px;
	float: left;
	margin-top: 17px;
	font-size: 10px;
	margin-left: 5px;
	color: #666;
	line-height: 18px;
}
.bottomb{
	margin-left: 28px;
	width:420px;
	height: 307px; 
	float: left;
	margin-top: -16px;
}
.bottomb input{
	border-bottom: 1px solid #D4D0C8;
	margin-top: 13px;
	width:416px;
	height: 16px; 
	float: left;
	font-size: 10px;
	outline: none;
}
.bottomc input{
	width: 417px;
	height: 120px;
	margin-top: 11px;
	float: left;
}
.image{
	width: 542px;
	height: 153px;
	margin-top: 27px;
}
.CN{
	width: 192px;
	height: 136px;
	border: 1px solid #CCC;
	float: left;
}
.CNa{
	margin-top: 4px;
	background: url('../images/CN.jpg')no-repeat;
	width: 184px;
	height: 128px;
	margin-left: 4px;
}
.CNb{
	width: 325px;
	height: 154px;
	margin-left: 22px;
	float: left;
}
.CNba{
	font-weight: bold;
	font-size: 18px;
	line-height: 1em;
	color: #003f5f;
}
.CNbb{
	font-weight: bold;
	color: #3b3b3b;
	margin-top: 10px;
	font-size: 14px;
}
.CNbc{
	color: #7d7d7d;
	margin-top: 10px;
	font-size: 13px;
}
.CNc{
	margin-top: 4px;
	background: url('../images/00.jpg')no-repeat;
	width: 184px;
	height: 128px;
	margin-left: 4px;
}
.CNd{
	margin-top: 4px;
	background: url('../images/CN (1).jpg')no-repeat;
	width: 184px;
	height: 128px;
	margin-left: 4px;
}
.CNe{
	margin-top: 4px;
	background: url('../images/CN (2).jpg')no-repeat;
	width: 184px;
	height: 128px;
	margin-left: 4px;
}
.CNf{
	margin-top: 4px;
	background: url('../images/00 (1).jpg')no-repeat;
	width: 184px;
	height: 128px;
	margin-left: 4px;
}
